body {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  background-color: #fafafa !important;
}
.title {
  color: #1f2023 !important;
}
.menu {
  background-color: #fafafa !important;
  width: 100%;
  display: flex;
  flex-direction: row !important;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1;
  padding-left: 10%;
  padding-right: 10%;

  max-width: 100%;

  height: 70px;
  @media (max-width: 650px) {
    flex-direction: column;
    align-items: center;
  }

  .item {
    cursor: pointer;
    transition: color 0.2s ease-out;
    transition: font-weight 0.3s ease;

    text-decoration: none;
    color: #050505;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-size: 12px;

    padding: 15px 35px;
    margin: 0px;

    &.active {
      color: #4b4a4a;
    }
  }

  .indicator {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    border-bottom: 2px solid black;
  }
}

.footer {
  background-color: rgba(250, 250, 250);
}
.textSide {
  color: #030303 !important;
}
body.dark {
  background-color: #1f2023 !important;

  .textSide {
    color: #e1e1e1 !important;
  }
  .footer {
    background-color: #1f2023 !important;
  }
  .menu {
    color: #e1e1e1;
    border-bottom: 1px solid #eeeeee49;
    background-color: #1f2023 !important;
  }
  .item {
    color: white !important;
  }
  .title {
    color: rgb(255, 255, 255) !important;
  }
  .item {
    background-color: trasparent;
  }
  .indicator {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0) !important;
    border-bottom: 2px solid rgb(255, 255, 255);
  }
  .menu {
    background-color: #1f2023 !important;
  }
  .sidebar {
    background-color: #4b4a4a;
  }
  .title {
    font-weight: 100;
  }
}
.toggle {
  width: 20px !important;
}
.toggle {
  opacity: 0 !important;
}
.scritta {
  position: absolute;
  top: 0;
  right: 0;
}
.menu {
  position: fixed;
  background-color: rgb(250, 250, 250);
}
.title {
  font-weight: 200;
}
.item {
  color: black !important;
  text-decoration: none !important;
}

/* safari */
@supports (background: -webkit-named-image(i)) {
  .menu {
    display: flex;

    justify-content: space-around;

    width: 100%;
  }

  body {
    background-color: #fafafa !important;
  }
  .scritta,
  .allToggle,
  .indicator {
    display: none !important;
  }
}
.activePage {
}
.sectionFooter {
  border-bottom: 1px solid rgba(170, 167, 167, 0.567);
}

.menu {
  padding-bottom: 30px !important;
  padding-top: 20px !important;
  height: 80px;
}
@supports (-moz-appearance: none) {
  .menu {
    display: flex;

    justify-content: space-around;

    width: 100%;
  }

  body {
    background-color: #fafafa !important;
  }
  .scritta,
  .allToggle,
  .indicator {
    display: none !important;
  }
}
